<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title | default: site.title }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if site.author %}<meta name="author" content="{{ site.author }}" />{% endif %}

    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.classycountdown.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/jquery.classycountdown.min.js"></script>
    <script src="js/jquery.knob.js"></script>
    <script src="js/jquery.throttle.js"></script>

</head>

<body>
    <header>
        <section class="color">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1><i class="fa fa-clock-o" style="color:white"></i></h1>
                        <h2>{{ page.title | default: site.title }}</h2>
                        <p>{{ page.excerpt | default: site.description }}
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section class="ss-style-doublediagonal main-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    {{ content }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <div class="countdown"></div>

                </div>
            </div>

            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Episodes
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/join-our-show">
                         Join Our Show
                         </a>
                 </h3>
            </div>
        </div>
    </section>


    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>2017 - {{ site.owner.name }}</p>

                    <P> {% if site.owner.aboutlink.url %}<a href="{{ site.owner.aboutlink.url }}">{{ site.owner.aboutlink.caption | default: "About" }}</a> | {% endif %}
                        Page and Design by <a target="_blank" href="http://mortezaaghili.github.io/">M. Aghili</a> + 
                        <a target="_blank" href="https://www.behance.net/gallery/18421675/Free-Bootstrap-Psd-Coming-Soon-Template">Ilya B.</a>
                    </P>
                </div>
            </div>
        </div>
    </section>



    <script>
        $('.countdown').ClassyCountdown({
            theme: "{{ site.countdown.theme }}",
            now: $.now() / 1000,
            end: Date.UTC({{ site.countdown.year }}, {{ site.countdown.month }} - 1, {{ site.countdown.day }}, {{ site.countdown.hour }}, {{ site.countdown.minute }}, 0) / 1000
        });
    </script>
</body>

</html>
